@font-face {
	font-family: czcionka;
	src: url(UniSansDemo-HeavyCAPS.otf);}

@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');


*{
    margin:0px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    /* transition: 1s; */
}

body,html{
    margin:0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
img{
    user-select: none;
}

.weatherInfo{
    position: absolute;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 33.333vw;
    background: rgb(228, 228, 228);
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 20%, #7491a6 100%);*/
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(0,151,255,1) 100%);*/
    aspect-ratio: 1.5/1;
    border-radius: 50px;
    /* background-color: white; */
    /* opacity: 44%; */
    /* overflow: hidden; */


}
.mainContainer{
    margin-top: 5%;
    margin-left: 5%;
}
.main{
    color:white;
    font-family: 'Gabarito', sans-serif;
    /*user-select: none;*/
    font-size: 3vw;
}
#temperatura{
    margin-top: 0px;
    font-size: 4vw;
}

.iconContainer{
    height: 100%;
    width: 20%;
    /*background-color: red;*/
    margin-top: 5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    height: 5vw;
    width: 5vw;
    user-select: none;
    /* height: ; */
    /* position: absolute; */
    /* margin-left: 75%; */
}
.iconDes{
    color:white;
    font-family: 'Gabarito', sans-serif;
    user-select: none;
    font-size: 1.1vw;
    font-weight: bold;
    text-align: center;
}

.details{
    width: 80%;
    height: 50%;
    /*background-color: red;*/
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.details div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rebeccapurple;*/
}
.details p{
    margin-top: 10px;
    color:white;
    font-family: 'Gabarito', sans-serif;
    /*user-select: none;*/
    font-size: 0.9vw;
    font-weight: bold;
}
.details img{
    width: 4vw;
    height: 4vw;
}

.top{
    /* background-color: red; */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 60%;
    /* opacity: 20%; */
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.nextDays{
    display: flex;
    flex-direction: row;
    /*background-color: rgb(255, 255, 255);
    opacity: 40%;*/
    width: 80%;
    height: 60%;
    margin-bottom: 5%;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 15px 22px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 15px 22px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 22px 0px rgba(0, 0, 0, 0.2);
}
.day{
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    align-items: center;
    width: 20%;
    height: 100%;
  
    border-right: 0.1px rgba(0, 0, 0, 0.2) solid;
    /*background-color: yellow;*/
}
.day:last-of-type{
    border: 0px;
}
.dzien{
    width: 100%;
    text-align: center;
    /*border-bottom: 1px black solid;*/
}
.day p{
    /*margin-top: 10px;*/
    color:black;
    font-family: 'Gabarito', sans-serif;
    user-select: none;
    font-size: 0.9vw;
    font-weight: bold;
}
.day p:first-of-type{
    margin-top: 10%;
}
.day img{
    height: 50%;
    
}
/* p{
    color: white;
    font-family: 'Gabarito', sans-serif;
    
    margin-left: 10%;
    margin-top: 1%;
} */



input {
    color:white;
    margin-top: 15%;
    background: 0;
    border: 0;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;
  
    &:focus {
      padding-bottom: 5px;
    }
  
    /*// sibling magic ;o*/
    &:focus + .line {
      &:after {
        transform: scaleX(1);
      }
    }
  }
  
  .field {
    position: relative;
    /*height: ;*/
    .line {
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: -8px;
      background: #bdc3c7;
  
      &:after {
        content: " ";
        position: absolute;
        float: right;
        width: 100%;
        height: 3px;
        
        transform: scalex(0);
        transition: transform 0.3s ease;
        
        background: rgba(0,151,255,1);
      }
    }
  }

  .slide-top {
	-webkit-animation: slide-top 0.75s linear both;
	        animation: slide-top 0.75s linear both;
}
.slide-top2 {
	-webkit-animation: slide-top2 0.75s linear both;
	        animation: slide-top2 0.75s linear both;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(43.3vw);
              transform: translateY(43.3vw);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes slide-top {
    0% {
        -webkit-transform: translateY(43.3vw);
                transform: translateY(43.3vw);
      }
      100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
      }
  }
  /* /////////////////////////////////////////////////////// */
  @-webkit-keyframes slide-top2 {
    0% {
        -webkit-transform: translateY(0px);
              transform: translateY(0px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-43.3vw);
              transform: translateY(-43.3vw);
              -webkit-filter: blur(20px);
              filter: blur(20px);
              opacity: 0;
      /* opacity: 0; */
    }
  }
  @keyframes slide-top2 {
    0% {
        -webkit-transform: translateY(0px);
              transform: translateY(0px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-43.3vw);
              transform: translateY(-43.3vw);
              -webkit-filter: blur(20px);
              filter: blur(20px);
              opacity: 0;
      }
  }